body {
  width: 1080px;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  height: 85px;
  background-color: rgb(95, 95, 95);
  line-height: 85px;
  padding-top: 15px;
}

nav img {
  float: left;
  margin-left: 60px;
  padding-right: 80px;
}

nav a {
  font-size: 18px;
  line-height: 85px;
  text-decoration: none;
  font-weight: bold;
  margin-right: 80px;
  padding-bottom: 20px;
  color: #000;
}

a:visited {
  color: #000;
}

#hero {
  box-sizing: border-box;
  margin: 30px 60px 0 60px;
}

#sub-banners {
  box-sizing: border-box;
  margin-top: 30px;
  margin-left: 58px;
}

#subban2 {
  margin-left: 28px;
  margin-right: 28px;
}

#featured {
  box-sizing: border-box;
  margin-top: 30px;
  margin-left: 60px;
  margin-right: 60px;
}

#feature-img {
  float: left;
  padding-bottom: 30px;
}

#feature-info {
  float: right;
  width: 450px;
}

h4 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 28px;
}

#feature-info p {
  height: 280px;
  line-height: 24px;
  letter-spacing: 1.25px;
  overflow: scroll;
  margin-bottom: 28px;
}

#call-to-action {
  background-color: #000;
  color: white;
  height: 42px;
  width: 200px;
  font-size: 16px;
  letter-spacing: 1.25px;
  border-radius: 6px;
}

footer {
  clear: both;
  margin-top: 30px;
  height: 140px;
  background-color: rgb(95, 95, 95);
}
